

{% extends 'base.html.twig' %}

{% block title %}Article: {{ article.titre }}{% endblock %}

{% block body %}
    <p></p>
    <a href='/'>Page d'accueil</a>
    <p></p>
    <div class="blog-post">
        <h2 class="blog-post-title">{{ article.titre }}</h2>
        <p class="blog-post-meta">{{article.date|date("d/m/Y - H:i:s")}}, par {{ article.getAuteur().getUsername() }} </p>

        <p> {{ article.contenu|raw }}</p>
    </div>

    <br>
    <section id="commentaire">
        <h3 class="blog-post-title">( {{commentaires | length}} ) commentaires:</h3>
        {% for commentaire in commentaires %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        de {{commentaire.getAuteur().getUsername()}} - (<small>{{commentaire.date|date("d/m/Y - H:i:s")}})</small>
                    </div>
                    <div class="col">
                        {{commentaire.message|raw}}
                    </div>
                </div>
            </div>
            <br>
            
        {% endfor %}
        <br>
        {% if app.user %}
        <h2>Ajouter un commentaire</h2>
        {{ form(formCommentaire) }}

        {% else %}
            <h2>Vous devez être connecté pour commenter ! </h2>
            <a href="{{path('users_login')}}" class="btn btn-primary">Connexion</a>
        {% endif %}
    </section>
{% endblock %}
