

{% extends 'base.html.twig' %}

{% block title %}Article: {{ article.titre }}{% endblock %}

{% block body %}
    <p></p>
    <a href='/'>Page d'accueil</a>
    <p></p>
    <div class="blog-post">
        <h2 class="blog-post-title">{{ article.titre }}</h2>
        <p class="blog-post-meta">{{article.date|date("d/m/Y - H:i:s")}}, par {{ article.getAuteur().getUsername() }} </p>

        <p> {{ article.contenu|raw }}</p>
    </div>

    <h2>Ajouter un commentaire</h2>
    {{ form(formCommentaire) }}
    <br>
    <div class="blog-post">
        <h3 class="blog-post-title">Commentaires:</h3>
        {% for commentaire in commentaires %}
            <div>
                <p class="blog-post-meta">{{commentaire.date|date("d/m/Y - H:i:s")}}, publié par {{commentaire.getAuteur().getUsername()}} </p>
                <p>{{commentaire.message}}<p>
            </div>
            <br>
        {% else %}
            <p>Il n'y a pas encore de commentaire</p>
        {% endfor %}
        
    </div>
{% endblock %}
